<!DOCTYPE html>
<!--
  author pxz
  email buffll@foxmail.com
-->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="commons/admin_fragments :: head(~{::title})">
    <title>分类</title>
  </head>
  <body>
    <!--导航-->
    <div th:replace="commons/admin_fragments :: navigation(2)"></div>
    <div class="ui attached pointing menu">
      <div class="ui container">
        <div class="right menu">
          <a th:href="@{/admin/types/input}" class="item">新增分类</a>
          <a th:href="@{/admin/types}" class="teal active item">分类列表</a>
        </div>
      </div>
    </div>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}" style="text-align: center">
          <i class="close icon"></i>
          <div class="header">提&nbsp;&nbsp;&nbsp;示</div>
          <p th:text="${message}"></p>
        </div>

        <table class="ui celled table" style="text-align: center;">
          <thead>
            <tr>
              <th>编号</th>
              <th>类别名称</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="type,iterStat : ${pageInfo.list}">
              <td th:text="${iterStat.count}"></td>
              <td th:text="${type.name}"></td>
              <td>
                <a th:href="@{/admin/types/{id}/input(id=${type.id})}" class="ui mini teal basic button">编辑</a>
                <a th:href="@{/admin/types/{id}/delete(id=${type.id})}" class="ui mini red basic button">删除</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="6" style="text-align: left">
                <div class="ui pagination menu" th:if="${pageInfo.pages} > 1">
                  <a th:href="@{/admin/types(pageNum=${pageInfo.prePage})}"
                     th:unless="${pageInfo.isFirstPage}"
                     class="item">
                    上一页
                  </a>
                  <a th:href="@{/admin/types(pageNum=${pageInfo.nextPage})}"
                     th:unless="${pageInfo.isLastPage}"
                     class="item">
                    下一页
                  </a>
                </div>
                <a th:href="@{/admin/types/input}" class="ui primary right floated teal basic button">新增</a>
              </th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <br>
    <br>

    
    <div style="position: sticky;top:100%">
      <div th:replace="commons/fragments :: footer"></div>
    </div>
    <div th:replace="commons/admin_fragments :: script"></div>
    <script>
      $('.ui.dropdown').dropdown({
        on: 'hover'
      })

      //消息提示关闭初始化
      $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade')
      })
    </script>
  </body>

</html>