<!DOCTYPE html>
<!--
  Author: pxz
  Email: buffll@foxmail.com
  2021-02-23 15:59
-->
<!--后台管理页面的公共片段-->

<!----------------------公共头部---------------------->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
	<meta name="Author" content="pxz" />
	<meta http-equiv="content-type" content="text/html" charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title th:replace="${title}"></title>
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
	<link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">

	<link rel="stylesheet" th:href="@{/css/me.css}">
</head>

<!----------------------导航栏---------------------->
<nav th:fragment="navigation(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
	<div class="ui container">
		<div class="ui inverted secondary stackable menu">
			<h3 class="ui teal header item">
				<a class="ui teal header" th:href="@{/admin/index}">管理后台</a>
			</h3>
			<a th:href="@{/admin/blogs}" class="m-item item m-mobile-hide" th:classappend="${n == 1} ? 'active'">
				<i class="home icon"></i>
				博客管理
			</a>
			<a th:href="@{/admin/types}" class="m-item item m-mobile-hide" th:classappend="${n == 2} ? 'active'">
				<i class="file alternate icon"></i>
				分类管理
			</a>
			<a th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${n == 3} ? 'active'">
				<i class="tags icon"></i>
				标签管理
			</a>
			
			<div class="right m-item m-mobile-hide menu">
				<div class="ui dropdown item">
					<div>
						<img class="ui avatar image" th:src="@{${session.user.avatar}}">
						<span th:text="${session.user.nickname}"></span>
					</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<a id="btn" class="item" href="javascript:void(0)">修改密码</a>
						<a th:href="@{/admin/logout}" class="item">注销</a>
					</div>
				</div>
				<a th:href="@{/}" class="m-item item m-mobile-hide" th:classappend="${n == 0} ? 'active'">
					<i class="reply icon"></i>
					返回首页
				</a>
			</div>
			
			<!--------------------------------------------------->
			<div class="container">
				<div class="ui modal" style="width: 500px;">
					<i class="close icon"></i>
					<div class="header"><i class="user icon">
					</i>用户信息
					</div>
					<div class="content">
						
						<form method="post" th:action="@{/admin/change}" class="ui form">
							<input type="hidden" name="id" value="">
							<div class=" field">
								<div class="ui left labeled input">
									<label class="ui teal basic label">用户名</label>
									<input type="text" name="username" placeholder="请输入用户名">
								</div>
							</div>
							
							<div class=" field">
								<div class="ui left labeled input">
									<label class="ui teal basic label">原密码</label>
									<input type="password" name="oldpwd" placeholder="请输入原密码">
								</div>
							</div>
							
							<div class=" field">
								<div class="ui left labeled input">
									<label class="ui teal basic label">新密码</label>
									<input type="password" name="newpwd" placeholder="请输入新密码">
								</div>
							</div>
							
							<div class="ui error mini message"></div>
							<div class="ui mini negative message"
							     th:unless="${#strings.isEmpty(message)}" th:text="${message}">
							</div>
							
							<br>
							<div class="ui right aligned container">
								<button class="ui teal submit button">提交</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--------------------------------------------------->
		
		</div>
	</div>
	
	<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
		<i class="sidebar icon"></i>
	</a>
</nav>

<!----------------------公共js引用---------------------->
<th:block th:fragment="script">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	<script th:inline="javascript">
		$('.menu.toggle').click(function () {
			$('.m-item').toggleClass('m-mobile-hide')
		})
		
		//展示模态框
		$("#btn").on("click", function () {
			$(".ui.modal").modal("show");
		})
		
		$(function () {
			$('#newblog-container').load(/*[[@{/footer/newblog}]]*/)
		})
		
		$('.ui.form').form({
			fields: {
				username: {
					identifier: 'username',
					rules: [{
						type: 'empty',
						prompt: '请输入用户名'
					}]
				},
				oldpwd: {
					identifier: 'oldpwd',
					rules: [{
						type: 'empty',
						prompt: '请输入旧密码'
					}]
				},
				newpwd: {
					identifier: 'newpwd',
					rules: [{
						type: 'empty',
						prompt: '请输入新密码'
					}]
				}
			}
		})
	</script>
</th:block>