<!DOCTYPE html>
<!--
  author pxz
  email buffll@foxmail.com
-->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="commons/fragments :: head(~{::title})">
    <title>关于我</title>
  </head>

  <body>
    <!--导航-->
    <div th:replace="commons/fragments :: navigation(5)"></div>

    <!--中间内容-->
    <div class="m-container m-padded-tb-big">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="eleven wide column">
            <div class="ui segment">
              <img th:src="@{/img/yq.jpg}" alt="" class="ui rounded image" style="height: 380px;">
            </div>
            <div>
              <div class="ui segment">
                <ul style="font-family: 黑体; font-size: 14px; font-weight:700;" >
                  <li style="padding-left: 10px;">
                    <span class="m-text">如果不介意,请把本站分享给您的朋友！</span>
                  </li>
                  <li style="padding-left: 10px;">
                    <span class="m-text">我会一直努力，不求最好，只求更好 ！</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="five wide column">
            <div class="ui top attached segment">
              <div class="ui header" style="text-align: center">关于我</div>
            </div>

            <div class="ui attached segment">
              <p class="m-text">pxz，一个勤奋的代码搬运工，一个正在起步的CRUD Programmer。</p>
              <p class="m-text">热爱编程，喜欢摇滚乐，喜欢折腾，正在探索高效学习编程技术的方法</p>
              <p class="m-text">搭建此网站的初衷是为了将自己遇到的一些问题记录下来，只有自己写的东西才能真正刻在脑子里，这才是记录的意义。</p>
            </div>

            <div class="ui attached segment" style="text-align: center;">
              <div class="ui orange basic left pointing label">编程</div>
              <div class="ui orange basic left pointing label">运动</div>
              <div class="ui orange basic left pointing label">思考</div>
              <div class="ui orange basic left pointing label">摇滚</div>
            </div>

            <div class="ui attached segment" style="text-align: center;">
              <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
              <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringBoot</div>
              <div class="ui teal basic left pointing label m-margin-tb-tiny">MyBatis</div>
              <div class="ui teal basic left pointing label m-margin-tb-tiny">Redis</div>
              <div class="ui teal basic left pointing label m-margin-tb-tiny">Linux</div>
              <div class="ui teal basic left pointing label m-margin-tb-tiny">MySQL</div>
              <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
            </div>

            <!--联系图标-->
            <div class="ui bottom attached segment" style="text-align: center;">
              <a href="https://github.com/549017101" class="ui github circular icon button" target="_blank">
                <i class="github icon"></i>
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="ui wechat circular icon button">
                <i class="weixin icon"></i>
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="ui qq circular icon button" data-position="bottom center">
                <i class="qq icon"></i>
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a class="ui email circular icon button">
                <i class="envelope icon"></i>
              </a>
            </div>
            <div class="ui wechat-qr flowing popup transition hidden">
              <img th:src="@{/img/vx.png}" alt="" class="ui rounded image" style="width: 150px">
            </div>
            <div class="ui qq-qr flowing popup transition hidden">
              <p style="text-align: center;">QQ: 767722843</p>
<!--              <img th:src="@{/img/qq.png}" alt="" class="ui rounded image" style="width: 150px">-->
            </div>
            <div class="ui email-qr flowing popup transition hidden">
              <span style="text-align: center;"> pcxyzz@Foxmail.com </span>
            </div>
            <div class="ui github-qr flowing popup transition hidden">
              <p style="text-align: center;">https://github.com/549017101</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="position: sticky;top:100%">
      <div th:replace="commons/fragments :: footer"></div>
    </div>
    <div th:replace="commons/fragments :: script"></div>
    <script>
      //微信的悬浮窗
      $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
      })

      //QQ的悬浮窗
      $('.qq').popup({
        popup: $('.qq-qr'),
        position: 'bottom center'
      })

      //邮箱的悬浮窗
      $('.email').popup({
        popup: $('.email-qr'),
        position: 'bottom center'
      })

      //github的悬浮窗
      // $('.github').popup({
      //   popup: $('.github-qr'),
      //   position: 'bottom center'
      // });
    </script>
  </body>
</html>