<!DOCTYPE html>
<!--
  author pxz
  email buffll@foxmail.com
-->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="commons/fragments :: head(~{::title})">
    <title>分类</title>
  </head>

  <body>
    <!--导航-->
    <div th:replace="commons/fragments :: navigation(2)"></div>

    <!--中间内容-->
    <div class="m-container-small m-padded-tb-big">
      <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <h3 class="ui teal header">分类</h3>
            </div>
            <div class="right aligned column">
              共
              <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(types)}"></h2>
              个
            </div>
          </div>
        </div>

        <div id="myBar" class="ui attached segment m-padded-tb-large">
          <div class="ui labeled button m-margin-tb-tiny" th:each="type : ${types}">
            <a th:href="@{/types/{id}(id=${type.id})}" class="ui basic button"
               th:classappend="${type.id==activeTypeId} ? 'teal'" th:text="${type.name}"></a>
            <div class="ui basic  left pointing label"
                 th:classappend="${type.id==activeTypeId} ? 'teal'"
                 th:text="${#arrays.length(type.blogs)}"></div>
          </div>
        </div>

        <div class="ui top attached teal segment">
          <div class="ui padded vertical segment m-padded-tb-large"
               th:each="blog : ${pageInfo.list}">
            <div class="ui middle aligned mobile reversed stackable grid">
              <div class="eleven wide column">
                <h3 class="ui header">
                  <a th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}"
                     target="_blank" class="m-black"></a>
                </h3>
                <p class="m-text" th:text="|${blog.description}......|"></p>
                <div class="ui grid">
                  <div class="eleven wide column">
                    <div class="ui mini horizontal link list">
                      <div class="item">
                        <img th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                        <div class="content">
                          <a class="header" th:text="${blog.user.nickname}"></a>
                        </div>
                      </div>
                      <div class="item">
                        <i class="calendar icon"></i>
                        <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                      </div>
                      <div class="item">
                        <i class="eye icon"></i>
                        <span th:text="${blog.views}"></span>
                      </div>
                    </div>
                  </div>
                  <div class="right aligned five wide column">
                    <a href="" target="_blank" th:text="${blog.type.name}"
                       class="ui teal basic label m-text-thin"></a>
                  </div>
                </div>
              </div>
      
              <div class="five wide column">
                <a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                  <img th:src="@{ '/' + ${blog.firstPicture}}" alt="" class="ui rounded image"
                       style="height: 150px; width: 240px;">
                </a>
              </div>
    
            </div>
          </div>
        </div>
  
        <div class="ui bottom attached segment" th:if="${pageInfo.pages}>1">
          <div class="ui middle aligned two column grid">
            <div class="column">
              <a id="last" th:unless="${pageInfo.isFirstPage}" class="ui mini teal basic button">
                <i class="caret left icon"></i>
                上一页
              </a>
            </div>
            <div class="right aligned column">
              <a id="next" th:unless="${pageInfo.isLastPage}" class="ui mini teal basic button">
                下一页
                <i class="caret right icon"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div style="position: sticky;top:100%">
      <div th:replace="commons/fragments :: footer"></div>
    </div>
    <div th:replace="commons/fragments :: script"></div>
    <script th:inline="javascript">
      /**
       * 翻页功能
       */
      $(function () {
        let nextUrl = '/types/' + [[${activeTypeId}]] + '?pageNum=' + [[ ${pageInfo.nextPage}]]
        let lastUrl = '/types/' + [[${activeTypeId}]] + '?pageNum=' + [[ ${pageInfo.prePage}]]
        $('#next').attr("href", nextUrl)
        $('#last').attr("href", lastUrl)
      })
  
      //#region others
      //标签名
      //let barName = $("#myBar").children("div").children("a")
      //标签数
      //let barNum = $("#myBar").children("div").children("div")
  
      // //鼠标移入效果
      // for(let i = 0; i < barName.length; i++){
      //   barName[i].onmouseover = function(){
      //     // teal 类可以实现高亮显示效果
      //     this.className="ui teal basic button"
      //     barNum[i].className="ui teal basic left pointing label"
      //   }
      // }
      //
      // //鼠标移出效果
      // for(let i = 0; i < barName.length; i++){
      //   barName[i].onmouseout = function(){
      //     // teal 类可以实现高亮显示效果
      //     this.className="ui basic button"
      //     barNum[i].className="ui basic left pointing label"
      //   }
      // }
  
      //点击按钮改变状态
      // for (let i = 0; i < barName.length; i++) {
      //   barName[i].onclick = function(){
      //     for (let j = 0; j < barName.length; j++) {
      //       //为当前按钮设置默认效果
      //       barName[j].className = "ui basic button"
      //       barNum[j].className = "ui basic left pointing label"
      //     }
      //     //添加高亮效果
      //     barName[i].className = "ui teal basic button"
      //     barNum[i].className = "ui teal basic left pointing label"
      //   }
      // }
      //#endregion
    </script>
  </body>

</html>